.row-home {
  margin: 0px auto;
  padding: 0px 0px;
  height: 550px;
 }
.row-header {
  margin: 10px 0px;
  padding: 0px auto;
}
.row-content {
  margin: 10px auto;
  padding:  0px auto;
  border-bottom: 1px ridge;
  min-height: 300px;
}
.row-carousel {
  margin: 30px auto;
  padding:  40px 20px;
  border-bottom: 1px ridge;
  min-height: 300px;
}
.row-project {
  margin: 20px auto;
  padding:  20px auto;
  border-bottom: 1px ridge;
  min-height: 300px;
}
.row-jumbotron h1{
	padding-left: 30px;
	font-size:350%;
}
.row-jumbotron p{
	padding-left: 30px;
	font-size: 150%;
	margin-top: 50px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
#aboutme{
  background-image:url("../img/background.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position:bottom;
  background-size: cover;
  height: 400px;
  padding: 0px auto;
  margin: 0px auto;
}

.carousel .item {
  height: 400px;
}
.carousel .item img {
  left: 0;
  min-height: 400px;
  position: absolute;
  top: 0;
}
.carousel .item h1{
	color:#0066ff;
}
.navbar-default{
  margin-top:40px;
  padding-left: 20px;
  background: transparent;
  border-style: none;
  border-color: transparent;
}
.navbar-nav a{
  color:#404040;
  font-size: 16px;
  font-weight: 550;
  background-color:transparent;
}

.navbar-default .navbar-nav >.active > a  {
    
	color:#262626;
}

.navbar-default .navbar-nav>li > a : hover{
    color:#262626;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  padding: 0px 0px;
  z-index: 0;
  margin: 0px 0px;
}
#home{
  background-image:url("../img/background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0px 0px;
}

.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

